<!DOCTYPE html>
<html>
  <head>
    <title>ぶろぐ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h1 class = "header_logo">
          <%= link_to "ぶろぐ","/" %>
        </h1>
      <% if user_signed_in? %>
        <div class = "header_button">
          <%= link_to "とうこう", "/posts/new", class: "button", remote: true %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button" %>
        </div>  
      <% else %>
        <div class = "header_button">
          <%= link_to "ログイン", new_user_session_path, class: "button" %>
          <%= link_to "とうろく", new_user_registration_path, class: "button"%>
        </div>  
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
